.header{
    height: 72px;
    background-color: rgba(0, 100, 235, 1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav{
    padding-left: 20px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.nav input{
    width: 500px;
}
.nav a {
    color: #ffffff;
    padding: 0 20px 0 10px;
    text-decoration: solid;
    font: 300 15px/1.1 'Poppins', sans-serif;
}
.nav div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}